In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

% matplotlib inline
% config InlineBackend.figure_format = 'retina'  # 设置图像清晰度

In [4]:
data = pd.read_csv("E:\Workspace\jupyter_notebook\\notebook_idata_lesson01\Aquastat\data\\aquastat.csv.gzip"
                   , compression="gzip")
print(data.shape)
data.head()

(143280, 7)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>region</th>
      <th>variable</th>
      <th>variable_full</th>
      <th>time_period</th>
      <th>year_measured</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1958-1962</td>
      <td>1962.0</td>
      <td>65286.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1963-1967</td>
      <td>1967.0</td>
      <td>65286.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1968-1972</td>
      <td>1972.0</td>
      <td>65286.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1973-1977</td>
      <td>1977.0</td>
      <td>65286.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Afghanistan</td>
      <td>World | Asia</td>
      <td>total_area</td>
      <td>Total area of the country (1000 ha)</td>
      <td>1978-1982</td>
      <td>1982.0</td>
      <td>65286.0</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
# 字典对应
simple_regions = {
    'World | Asia': 'Asia',
    'Americas | Central America and Caribbean | Central America': 'North America',
    'Americas | Central America and Caribbean | Greater Antilles': 'North America',
    'Americas | Central America and Caribbean | Lesser Antilles and Bahamas': 'North America',
    'Americas | Northern America | Northern America': 'North America',
    'Americas | Northern America | Mexico': 'North America',
    'Americas | Southern America | Guyana': 'South America',
    'Americas | Southern America | Andean': 'South America',
    'Americas | Southern America | Brazil': 'South America',
    'Americas | Southern America | Southern America': 'South America',
    'World | Africa': 'Africa',
    'World | Europe': 'Europe',
    'World | Oceania': 'Oceania'
}
data.region = data.region.apply(lambda x: simple_regions[x])

KeyError: 'Asia'