In [4]:
import pandas as pd
import numpy as np

churn_df = pd.read_csv(
    "E:\Workspace\jupyter_notebook\\notebook_idata_lesson01\Churn\churn.csv"
)
churn_df[:5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>State</th>
      <th>Account Length</th>
      <th>Area Code</th>
      <th>Phone</th>
      <th>Int'l Plan</th>
      <th>VMail Plan</th>
      <th>VMail Message</th>
      <th>Day Mins</th>
      <th>Day Calls</th>
      <th>Day Charge</th>
      <th>...</th>
      <th>Eve Calls</th>
      <th>Eve Charge</th>
      <th>Night Mins</th>
      <th>Night Calls</th>
      <th>Night Charge</th>
      <th>Intl Mins</th>
      <th>Intl Calls</th>
      <th>Intl Charge</th>
      <th>CustServ Calls</th>
      <th>Churn?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>KS</td>
      <td>128</td>
      <td>415</td>
      <td>382-4657</td>
      <td>no</td>
      <td>yes</td>
      <td>25</td>
      <td>265.1</td>
      <td>110</td>
      <td>45.07</td>
      <td>...</td>
      <td>99</td>
      <td>16.78</td>
      <td>244.7</td>
      <td>91</td>
      <td>11.01</td>
      <td>10.0</td>
      <td>3</td>
      <td>2.70</td>
      <td>1</td>
      <td>False.</td>
    </tr>
    <tr>
      <th>1</th>
      <td>OH</td>
      <td>107</td>
      <td>415</td>
      <td>371-7191</td>
      <td>no</td>
      <td>yes</td>
      <td>26</td>
      <td>161.6</td>
      <td>123</td>
      <td>27.47</td>
      <td>...</td>
      <td>103</td>
      <td>16.62</td>
      <td>254.4</td>
      <td>103</td>
      <td>11.45</td>
      <td>13.7</td>
      <td>3</td>
      <td>3.70</td>
      <td>1</td>
      <td>False.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NJ</td>
      <td>137</td>
      <td>415</td>
      <td>358-1921</td>
      <td>no</td>
      <td>no</td>
      <td>0</td>
      <td>243.4</td>
      <td>114</td>
      <td>41.38</td>
      <td>...</td>
      <td>110</td>
      <td>10.30</td>
      <td>162.6</td>
      <td>104</td>
      <td>7.32</td>
      <td>12.2</td>
      <td>5</td>
      <td>3.29</td>
      <td>0</td>
      <td>False.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>OH</td>
      <td>84</td>
      <td>408</td>
      <td>375-9999</td>
      <td>yes</td>
      <td>no</td>
      <td>0</td>
      <td>299.4</td>
      <td>71</td>
      <td>50.90</td>
      <td>...</td>
      <td>88</td>
      <td>5.26</td>
      <td>196.9</td>
      <td>89</td>
      <td>8.86</td>
      <td>6.6</td>
      <td>7</td>
      <td>1.78</td>
      <td>2</td>
      <td>False.</td>
    </tr>
    <tr>
      <th>4</th>
      <td>OK</td>
      <td>75</td>
      <td>415</td>
      <td>330-6626</td>
      <td>yes</td>
      <td>no</td>
      <td>0</td>
      <td>166.7</td>
      <td>113</td>
      <td>28.34</td>
      <td>...</td>
      <td>122</td>
      <td>12.61</td>
      <td>186.9</td>
      <td>121</td>
      <td>8.41</td>
      <td>10.1</td>
      <td>3</td>
      <td>2.73</td>
      <td>3</td>
      <td>False.</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 21 columns</p>
</div>

In [8]:
# 标签值
churn_result = churn_df["Churn?"]
# True.替换为1
y = np.where(churn_result == "True.", 1, 0)

# 删去一些列
to_drop = ["State", "Area Code", "Phone", "Churn?"]
churn_feat_space = churn_df.drop(to_drop, axis=1)

# 把值为yes/no的列，转换到true和false
yes_no_cols = ["Int'l Plan", "VMail Plan"]
churn_feat_space[yes_no_cols] = churn_feat_space[yes_no_cols] == "yes"

features = churn_feat_space.columns

X = churn_feat_space.as_matrix().astype(np.float)
print(X)

# 标准化数据
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

print(X)

[[128.     0.     1.   ...   3.     2.7    1.  ]
 [107.     0.     1.   ...   3.     3.7    1.  ]
 [137.     0.     0.   ...   5.     3.29   0.  ]
 ...
 [ 28.     0.     0.   ...   6.     3.81   2.  ]
 [184.     1.     0.   ...  10.     1.35   2.  ]
 [ 74.     0.     1.   ...   4.     3.7    0.  ]]

[[ 0.67648946 -0.32758048  1.6170861  ... -0.60119509 -0.0856905
  -0.42793202]
 [ 0.14906505 -0.32758048  1.6170861  ... -0.60119509  1.2411686
  -0.42793202]
 [ 0.9025285  -0.32758048 -0.61839626 ...  0.21153386  0.69715637
  -1.1882185 ]
 ...
 [-1.83505538 -0.32758048 -0.61839626 ...  0.61789834  1.3871231
   0.33235445]
 [ 2.08295458  3.05268496 -0.61839626 ...  2.24335625 -1.87695028
   0.33235445]
 [-0.67974475 -0.32758048  1.6170861  ... -0.19483061  1.2411686
  -1.1882185 ]]

In [9]:
from sklearn.cross_validation import KFold

def run_cv(X, y, clf_class, **kwargs):
    # Construct a kfolds object
    kf = KFold(len(y), n_folds=5, shuffle=True)
    y_pred = y.copy()

    # Iterate through folds
    for train_index, test_index in kf:
        X_train, X_test = X[train_index], X[test_index]
        y_train = y[train_index]
        # Initialize a classifier with key word arguments
        clf = clf_class(**kwargs)
        clf.fit(X_train, y_train)
        y_pred[test_index] = clf.predict(X_test)
    return y_pred

D:\Coding\Anaconda3\envs\idata\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.neighbors import KNeighborsClassifier as KNN

def accuracy(y_true, y_pred):
    # NumPy interprets True and False as 1. and 0.
    return np.mean(y_true == y_pred)

# 打印精度
# SVM
print(accuracy(y, run_cv(X, y, SVC)))
# 随机森林
print(accuracy(y, run_cv(X, y, RF)))
# KNN
print(accuracy(y, run_cv(X, y, KNN)))

0.9186918691869187

0.9471947194719472

0.894989498949895

In [12]:
def run_prob_cv(X, y, clf_class, **kwargs):
    kf = KFold(len(y), n_folds=5, shuffle=True)
    y_prob = np.zeros((len(y), 2))
    for train_index, test_index in kf:
        X_train, X_test = X[train_index], X[test_index]
        y_train = y[train_index]
        clf = clf_class(**kwargs)
        clf.fit(X_train, y_train)
        # Predict probabilities, not classes
        y_prob[test_index] = clf.predict_proba(X_test)
    return y_prob

In [13]:
import warnings

warnings.filterwarnings('ignore')

# Use 10 estimators so predictions are all multiples of 0.1
pred_prob = run_prob_cv(X, y, RF, n_estimators=10)
#print pred_prob[0]
pred_churn = pred_prob[:, 1]
is_churn = y == 1

# Number of times a predicted probability is assigned to an observation
counts = pd.value_counts(pred_churn)
#print counts

# calculate true probabilities
true_prob = {}
for prob in counts.index:
    true_prob[prob] = np.mean(is_churn[pred_churn == prob])
    true_prob = pd.Series(true_prob)

# pandas-fu
counts = pd.concat([counts, true_prob], axis=1).reset_index()
counts.columns = ['pred_prob', 'count', 'true_prob']
counts

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>pred_prob</th>
      <th>count</th>
      <th>true_prob</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>1749</td>
      <td>0.028588</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.1</td>
      <td>708</td>
      <td>0.025424</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.2</td>
      <td>257</td>
      <td>0.066148</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.3</td>
      <td>132</td>
      <td>0.121212</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.4</td>
      <td>85</td>
      <td>0.341176</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.5</td>
      <td>78</td>
      <td>0.653846</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.9</td>
      <td>77</td>
      <td>0.974026</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1.0</td>
      <td>64</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.6</td>
      <td>63</td>
      <td>0.809524</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.7</td>
      <td>61</td>
      <td>0.885246</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.8</td>
      <td>59</td>
      <td>0.983051</td>
    </tr>
  </tbody>
</table>
</div>