In [1]:
# 读取数据
import pandas as pd

df_news = pd.read_table(
    "E:\Workspace\jupyter_notebook\\notebook_idata_lesson01\Bayes-News\data\\val.txt",
    names=["category", "theme", "URL", "content"],
    encoding="utf-8"
)
df_news = df_news.dropna()
print(df_news.shape)
df_news[:3]

(5000, 4)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category</th>
      <th>theme</th>
      <th>URL</th>
      <th>content</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>汽车</td>
      <td>新辉腾　４．２　Ｖ８　４座加长Ｉｎｄｉｖｉｄｕａｌ版２０１１款　最新报价</td>
      <td>http://auto.data.people.com.cn/model_15782/</td>
      <td>经销商　电话　试驾／订车Ｕ憬杭州滨江区江陵路１７８０号４００８－１１２２３３转５８６４＃保常...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>汽车</td>
      <td>９１８　Ｓｐｙｄｅｒ概念车</td>
      <td>http://auto.data.people.com.cn/prdview_165423....</td>
      <td>呼叫热线　４００８－１００－３００　服务邮箱　ｋｆ＠ｐｅｏｐｌｅｄａｉｌｙ．ｃｏｍ．ｃｎ</td>
    </tr>
    <tr>
      <th>2</th>
      <td>汽车</td>
      <td>日内瓦亮相　ＭＩＮＩ性能版／概念车－１．６Ｔ引擎</td>
      <td>http://auto.data.people.com.cn/news/story_5249...</td>
      <td>ＭＩＮＩ品牌在二月曾经公布了最新的ＭＩＮＩ新概念车Ｃｌｕｂｖａｎ效果图，不过现在在日内瓦车展...</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
# 分词
import jieba

# 分词content列，传入jieba的参数需要是list格式的
content = df_news["content"].values.tolist()
print(content[1000])

阿里巴巴集团昨日宣布，将在集团管理层面设立首席数据官岗位（Ｃｈｉｅｆ　Ｄａｔａ　Ｏｆｆｉｃｅｒ），阿里巴巴Ｂ２Ｂ公司ＣＥＯ陆兆禧将会出任上述职务，向集团ＣＥＯ马云直接汇报。＞菹ぃ和６月初的首席风险官职务任命相同，首席数据官亦为阿里巴巴集团在完成与雅虎股权谈判，推进“ｏｎｅ　ｃｏｍｐａｎｙ”目标后，在集团决策层面新增的管理岗位。０⒗锛团昨日表示，“变成一家真正意义上的数据公司”已是战略共识。记者刘夏

In [3]:
# 分词
content_S = []
for line in content:
    current_segment = jieba.lcut(line)
    if len(current_segment) > 1 and current_segment != "\r\n":
        content_S.append(current_segment)

Building prefix dict from the default dictionary ...

Loading model from cache C:\Users\admin\AppData\Local\Temp\jieba.cache

Loading model cost 0.835 seconds.

Prefix dict has been built succesfully.

In [7]:
content_S[1000][:20]

['阿里巴巴',
 '集团',
 '昨日',
 '宣布',
 '，',
 '将',
 '在',
 '集团',
 '管理',
 '层面',
 '设立',
 '首席',
 '数据',
 '官',
 '岗位',
 '（',
 'Ｃ',
 'ｈ',
 'ｉ',
 'ｅ']

In [8]:
df_content = pd.DataFrame({"content_S": content_S})
df_content[:5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>content_S</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>[经销商, 　, 电话, 　, 试驾, ／, 订车, Ｕ, 憬, 杭州, 滨江区, 江陵, ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>[呼叫, 热线, 　, ４, ０, ０, ８, －, １, ０, ０, －, ３, ０, ０...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[Ｍ, Ｉ, Ｎ, Ｉ, 品牌, 在, 二月, 曾经, 公布, 了, 最新, 的, Ｍ, Ｉ...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[清仓, 大, 甩卖, ！, 一汽, 夏利, Ｎ, ５, 、, 威志, Ｖ, ２, 低至, ...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>[在, 今年, ３, 月, 的, 日内瓦, 车展, 上, ，, 我们, 见到, 了, 高尔夫...</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
# 读取停用词表
stopwords = pd.read_csv(
    "E:\Workspace\jupyter_notebook\\notebook_idata_lesson01\Bayes-News\data\stopwords.txt",
    index_col=False,
    sep="\t",
    quoting=3,
    names=["stopword"],
    encoding="utf-8"
)
stopwords[:20]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>stopword</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>!</td>
    </tr>
    <tr>
      <th>1</th>
      <td>"</td>
    </tr>
    <tr>
      <th>2</th>
      <td>#</td>
    </tr>
    <tr>
      <th>3</th>
      <td>$</td>
    </tr>
    <tr>
      <th>4</th>
      <td>%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>&amp;</td>
    </tr>
    <tr>
      <th>6</th>
      <td>'</td>
    </tr>
    <tr>
      <th>7</th>
      <td>(</td>
    </tr>
    <tr>
      <th>8</th>
      <td>)</td>
    </tr>
    <tr>
      <th>9</th>
      <td>*</td>
    </tr>
    <tr>
      <th>10</th>
      <td>+</td>
    </tr>
    <tr>
      <th>11</th>
      <td>,</td>
    </tr>
    <tr>
      <th>12</th>
      <td>-</td>
    </tr>
    <tr>
      <th>13</th>
      <td>--</td>
    </tr>
    <tr>
      <th>14</th>
      <td>.</td>
    </tr>
    <tr>
      <th>15</th>
      <td>..</td>
    </tr>
    <tr>
      <th>16</th>
      <td>...</td>
    </tr>
    <tr>
      <th>17</th>
      <td>......</td>
    </tr>
    <tr>
      <th>18</th>
      <td>...................</td>
    </tr>
    <tr>
      <th>19</th>
      <td>./</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
# 去除掉分词结果里面的停用词
def drop_stopwords(contents, stopwords):
    contents_clean = []
    all_words = []  #留作生成词云的使用
    for line in contents:
        line_clean = []
        for word in line:
            if word in stopwords:
                # 去除掉停用词表里面的
                continue
            line_clean.append(word)
            all_words.append(str(word))
        contents_clean.append(line_clean)
    return contents_clean, all_words


contents = df_content["content_S"].values.tolist()
stopwords = stopwords["stopword"].values.tolist()
contents_clean, all_words = drop_stopwords(contents, stopwords)

df_content = pd.DataFrame({"contents_clean": contents_clean})
df_content[:5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>contents_clean</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>[经销商, 电话, 试驾, 订车, Ｕ, 憬, 杭州, 滨江区, 江陵, 路, 号, 转, ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>[呼叫, 热线, 服务, 邮箱, ｋ, ｆ, ｐ, ｅ, ｏ, ｐ, ｌ, ｅ, ｄ, ａ,...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[Ｍ, Ｉ, Ｎ, Ｉ, 品牌, 二月, 公布, 最新, Ｍ, Ｉ, Ｎ, Ｉ, 新, 概念...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[清仓, 甩卖, 一汽, 夏利, Ｎ, 威志, Ｖ, 低至, 万, 启新, 中国, 一汽, ...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>[日内瓦, 车展, 见到, 高尔夫, 家族, 新, 成员, 高尔夫, 敞篷版, 款, 全新,...</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
# 处理all_words
df_all_words = pd.DataFrame({"all_words": all_words})
df_all_words[:5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>all_words</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>经销商</td>
    </tr>
    <tr>
      <th>1</th>
      <td>电话</td>
    </tr>
    <tr>
      <th>2</th>
      <td>试驾</td>
    </tr>
    <tr>
      <th>3</th>
      <td>订车</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Ｕ</td>
    </tr>
  </tbody>
</table>
</div>